:root {
	--light-blue-800: #0277bd;
	--gray-200: #eeeeee;
	--gray-500: #9e9e9e;
}

body,
input,
textarea {
	font-family: Noto, sans-serif;
	font-size: 16px;
}

body {
	display: flex;
}

div {
	display: flex;
}

.App {
	display: grid;
	align-self: flex-start;
	grid-gap: 20px;
	grid-template-columns: min-content;
	grid-auto-rows: min-content;
	grid-template-areas:
		'ld ds'
		'ed ed'
		'pl pl'
		'bg bg'
		'ep ep';
}

.App__editor {
	grid-area: ed;
}

.App__palette {
	flex-direction: column;
	grid-area: pl;
}

.App__bg {
	flex-direction: column;
	grid-area: bg;
}

.App__editPalette {
	grid-area: ep;
}

.LabDisplay {
	grid-area: ld;
	display: grid;
	grid-gap: 10px;
	grid-template-columns: min-content;
	grid-auto-rows: min-content;
	grid-template-areas:
		'ab lp'
		'cp .';
}

.ABPlane {
	position: relative;
	width: 321px;
	height: 321px;
	border: 1px solid rgba(0, 0, 0, 0.05);
	grid-area: ab;
}

.ABPlane__x {
	position: absolute;
	left: 0;
	right: 0;
	top: 160px;
	height: 1px;
	background-color: rgba(0, 0, 0, 0.2);
}

.ABPlane__y {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 160px;
	width: 1px;
	background-color: rgba(0, 0, 0, 0.2);
}

.ABPlane__dot {
	position: absolute;
	width: 9px;
	height: 9px;
	border-radius: 50%;
	transform: translate(-4px, -4px);
}

.LPlane {
	position: relative;
	width: 34px;
	border: 1px solid rgba(0, 0, 0, 0.05);
	grid-area: lp;
}

.LPlane__dot {
	position: absolute;
	left: 2px;
	width: 30px;
	height: 3px;
	transform: translateY(-1px);
}

.CPlane {
	position: relative;
	height: 34px;
	border: 1px solid rgba(0, 0, 0, 0.05);
	grid-area: cp;
}

.CPlane__dot {
	position: absolute;
	top: 2px;
	width: 3px;
	height: 30px;
	transform: translateX(-1px);
}

.ABPlane__label,
.LPlane__label,
.CPlane__label {
	font-size: 12px;
	color: rgba(0, 0, 0, 0.6);
	margin-left: 1px;
	margin-top: 1px;
}

.Display {
	flex-direction: column;
	padding: 15px;
	grid-area: ds;
}

.Display__color {
	align-items: center;
}

.Display__bar {
	width: 150px;
	height: 30px;
}

.Display__contrast,
.Display__deltaE {
	font-size: 12px;
	margin-left: 8px;
}

.Slider {
	position: relative;
	height: 7px;
	border-radius: 3px;
	background-color: var(--gray-200);
	margin: 0 8px;
	outline: none;
}

.Slider--disabled {
	color: var(--gray-500);
}

.Slider__bar {
	height: 7px;
	border-radius: 3px;
	background-color: var(--gray-500);
	transition: background-color 0.2s ease-in-out;
}

:not(.Slider--disabled):hover > .Slider__bar,
:not(.Slider--disabled):focus > .Slider__bar {
	background-color: var(--light-blue-800);
}

.Slider__dot {
	position: absolute;
	top: -2px;
	width: 11px;
	height: 11px;
	border-radius: 100%;
	background-color: var(--light-blue-800);
	cursor: ew-resize;
	transform: translateX(-6px);
	opacity: 0;
	will-change: left, opacity;
	transition: opacity 0.2s ease-in-out;
}

:not(.Slider--disabled):hover > .Slider__dot,
:not(.Slider--disabled):focus > .Slider__dot {
	opacity: 1;
}

.Slider__thumb {
	width: 11px;
	height: 11px;
	border-radius: 100%;
	background-color: var(--light-blue-800);
	opacity: 0.25;
	will-change: transform;
	transition: transform 0.1s ease-in-out;
}

:not(.Slider--disabled):focus > * > .Slider__thumb,
.Slider__thumb:active {
	transform: scale(2.5);
}

.ColorEditor__patch {
	width: 33px;
	height: 66px;
}

.ColorEditor__controls {
	flex-direction: column;
	flex: 1;
	margin: 0 8px;
	justify-content: space-between;
}

.ColorEditor__control {
	align-items: center;
}

.ColorEditor__controlLabel {
	width: 12px;
	color: rgba(0, 0, 0, 0.6);
}

.ColorEditor__slider {
	flex: 1;
}

.ColorEditor__values {
	flex-direction: column;
	font-size: 12px;
	width: 140px;
}

.ColorEditor__valueLabel {
	color: rgba(0, 0, 0, 0.6);
	margin-right: 4px;
}

.ColorEditor__buttons {
	flex-direction: column;
}

.ColorEditor__buttons > :not(:last-child) {
	margin-bottom: 4px;
}

.PaletteEditor__controls {
	flex-direction: column;
	flex: 1;
	margin-right: 8px;
	justify-content: space-between;
}

.PaletteEditor__control {
	align-items: center;
}

.PaletteEditor__controlLabel {
	width: 12px;
	color: rgba(0, 0, 0, 0.6);
}

.PaletteEditor__slider {
	flex: 1;
}

.PaletteEditor__slider {
	flex-direction: column;
}

.PaletteEditor__buttons {
	flex-direction: column;
}

.PaletteEditor__buttons > :not(:last-child) {
	margin-bottom: 4px;
}
